    html {
        background-color: #7C444F;
    }

    h1 {
        color: #E16A54;
        background-color: #9F5255;
    }
    h2 {
        color: #F39E60;
        background-color: #9F5255;
    }
    